body {
    margin: 0;
    background-color: #112d4e ;
    font-family: sans-serif;
}

.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 100px;
    color: #fff;
    margin-bottom: 50px;
}

.formulario {
    width: 400px;
    border: solid #0092ca 2px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    background-color: #000;
}

.formulario input::placeholder {
    text-align: center;
}

.formulario input{
    color: #fff;
}

#nombre_alumno {
    background-color: #212121;
    width: 170px;
    height: 25px;
    margin-bottom: 10px;
    border: solid #fff 1px;
}

#materia_a_rendir {
    background-color: #212121;
    width: 170px;
    height: 25px;
    margin-bottom: 10px;
    border: solid #fff 1px;
}

.aceptar {
    width: 80px;
    border: none;
    padding: 6px;
    background-color: #0092ca;
    color: #222;
    border-radius: 2px;
}

.limpiar {
    margin-top: 200px;
    margin-left: 90%;
    width: 95px;
    border: none;
    padding: 8px;
    background-color: #111;
    color: #fff;
    border-radius: 2px;
}

#tabla_alumnos {
    margin: 0 auto;
    margin-top: 35px;
    color: #fff;
}

.th {
    padding-right: 35px;
    color: #0092ca;
}